parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects non\-empty\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http.php

		-
			message: '#^Class spl\\util\\Config implements generic interface ArrayAccess but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/util/Config.php

		-
			message: '#^Method spl\\util\\Debug\:\:getClassProperties\(\) has parameter \$class with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/util/Debug.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function max expects non\-empty\-array, list\<int\<0, max\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/util/Debug.php

		-
			message: '#^Parameter \#2 \$offset of function substr expects int, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/util/Debug.php
